env-setup/
hw_run/
sim_run_*/
*.DS_Store*
*.csv
*.csv#
4.2/
gpucomputingsdk_4.2.9_linux.run
util/job_launching/*.txt
gpu-simulator/gpgpu-sim
.vscode/
extern/
gpu-simulator/accel_sim.pyi
compile_commands.json
.cache/
.cursorrules
CLAUDE.md

# Ignore everything in gpu-app-collection by default
gpu-app-collection/**

# Re-allow only the path you actually want
!gpu-app-collection/src/
!gpu-app-collection/src/cuda/
!gpu-app-collection/src/cuda/custom-divergence-bms/
!gpu-app-collection/src/cuda/custom-divergence-bms/**